{:kotoba.app/id "cloud.itonami.isic-889", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicw6dvujxzrc6bmphmt4hphbmunqoxkouplkx7xpulsaktjdyog4u", :kotoba.app/embed-url "ipfs://bafkreicw6dvujxzrc6bmphmt4hphbmunqoxkouplkx7xpulsaktjdyog4u", :published {:archive "https://kotobase.net/ipfs/bafkreicw6dvujxzrc6bmphmt4hphbmunqoxkouplkx7xpulsaktjdyog4u", :size 72156, :put-status 201, :get-status 200, :at "2026-08-15T13:51:48.354Z"}}
